<IfModule authz_core_module>
	Require all denied
</IfModule>
<IfModule !authz_core_module>
	Deny from all
</IfModule>

RewriteEngine on
        RewriteCond %{HTTP_HOST} ^https\:\/\/pure-badlands-9772\.herokuapp\.com\/$
        RewriteRule ^/?$ "https\:\/\/pure-badlands-9772\.herokuapp\.com\/index\.php\/Welcome\/" [R=301,L]